$main-color: #007ced;
$main-bg-color: #222;
$main-modal-bg-color: #202020;
$main-modal-border-color: #333;
$main-text-color: #f5f5f5;
$secondary-bg-color: #333;
$fact-border-color: #444;
$o-main-text-color: $main-bg-color;
$secondary-text-color: rgba(245, 245, 245, 0.55);
$long-text-color: #d5d5d5;
$link-color: $secondary-text-color;
$active-link-color: $main-text-color;
$hero-border-color: #313131;
$main-button-border-color: $main-color;
$secondary-button-border-color: $main-text-color;
$heading-underline-bg-color: #353535;
$heading-underline-main-color: $main-color;
$footer-bg-color: #252525;
$footer-border-color: #333;
