@use "./abstracts" as *;

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --main-color: #4e54c8;
    --main-bg-color: #222;
    --main-modal-bg-color: #202020;
    --main-modal-border-color: #333;
    --main-text-color: #f5f5f5;
    --secondary-bg-color: #333;
    --fact-border-color: #444;
    --o-main-text-color: var(--main-bg-color);
    --secondary-text-color: rgb(130, 130, 130);
    --long-text-color: #d5d5d5;
    --link-color: var(--secondary-text-color);
    --active-link-color: var(--main-text-color);
    --hero-border-color: #313131;
    --main-button-border-color: var(--main-color);
    --secondary-button-border-color: var(--main-text-color);
    --heading-underline-bg-color: #353535;
    --heading-underline-main-color: var(--main-color);
    --footer-bg-color: #252525;
    --footer-border-color: #333;
}

@font-face {
    font-family: "open sans";
    src: url("./assets/fonts//open\ sans/OpenSans-Regular.ttf");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "open sans";
    src: url("./assets/fonts//open\ sans/OpenSans-Bold.ttf");
    font-style: normal;
    font-weight: bold;
}

// :root {
//     --main-font-size: 0.8rem;
//     --main-font-family: "open sans";
// }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    // background-color: $main-color;
    font-family: $main-font-family;
    font-size: $main-font-size;
    color: $main-text-color;
}

nav {
    display: block;
}

button {
    display: block;
    cursor: pointer;
}

a {
    display: block;
    text-decoration: none;
    cursor: pointer;
    color: $link-color;
    &:visited {
        color: $link-color;
    }

    &:hover {
        color: $active-link-color;
        transition: color 250ms ease-in-out;
    }
}

#app {
    height: 100%;
}

// .dark-theme {
//     --main-color: #007ced;
//     --main-bg-color: #222;
//     --main-text-color: #f5f5f5;
//     --link-color: rgba(245, 245, 245, 0.55);
//     --active-link-color: #f5f5f5;
// }

.container {
    width: min(103em, 92%);
    border-radius: 3em;
    margin-inline: auto;
    margin-block: 3em;
    background-color: $main-bg-color;
    overflow: hidden;
}

.active {
    color: $active-link-color;
}

.ov-hid {
    overflow: hidden;
}

@media (max-width: $md-screen) {
    .container {
        max-width: 100%;
        width: 100%;
        margin: 0;
        border-radius: 0;
        min-height: 100vh;
    }
}

/* Hide the default scrollbar */
::-webkit-scrollbar {
    width: 4px;
    height: 0;
}

/* Style the track */
::-webkit-scrollbar-track {
    background-color: transparent; /* Background color of the track */
}

/* Style the thumb */
::-webkit-scrollbar-thumb {
    background-color: #888; /* Color of the thumb */
    border-radius: 6px; /* Rounded corners of the thumb */
}

/* Style the thumb on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Color of the thumb on hover */
}

/* Style the scrollbar corner */
::-webkit-scrollbar-corner {
    background-color: #f1f1f1; /* Background color of the scrollbar corner */
}
