@use "./abstracts" as *;

@font-face {
    font-family: "open sans";
    src: url("./assets/fonts//open\ sans/OpenSans-Regular.ttf");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "open sans";
    src: url("./assets/fonts//open\ sans/OpenSans-Bold.ttf");
    font-style: normal;
    font-weight: bold;
}

// :root {
//     --main-font-size: 0.8rem;
//     --main-font-family: "open sans";
// }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100vh;
    background-color: $main-color;
    font-family: $main-font-family;
    font-size: $main-font-size;
    color: $main-text-color;
}

a {
    text-decoration: none;
    color: $link-color;
    &:visited {
        color: $link-color;
    }

    &:hover {
        color: $active-link-color;
        transition: color 250ms ease-in-out;
    }
}

#app {
    height: 100%;
}

// .dark-theme {
//     --main-color: #007ced;
//     --main-bg-color: #222;
//     --main-text-color: #f5f5f5;
//     --link-color: rgba(245, 245, 245, 0.55);
//     --active-link-color: #f5f5f5;
// }

.container {
    width: min(75em, 92%);
    border-radius: 1.5em;
    margin-inline: auto;
    margin-block: 2em;
    background-color: $main-bg-color;
    height: 30em;
    padding: 2em;
}

.active {
    color: $active-link-color;
}
